
.App {
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  justify-content: space-around; 
}

label{
  margin: 0 10px;
  font: bold;
}
input{
  display: block;
}
.about{
  text-align: center;
  border: solid black 3px;
  border-radius: 4px;
  margin: 20px 0;
}

.userInput{
  background-color: rgb(0,255,255);
  border: solid black 4px;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
}

.story{
  background-color: rgb(100,149,237);
  border: solid black 3px;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
  width: 40%;
}

h1{
  background-color: rgb(245,245,25);
  border: solid black 4px;
  border-radius: 4px;
}

h2{
  text-align:center;
}